$color-primary: #429eff;
$color-primary-hover: #429eff;
$color-dark: #1e1e1e;
$color-black: #35373a;
$color-white: #ffffff;
$color-gray: #8496af;
$color-gray-light: #dce7f1;
$color-blue-light: #eaf5ff;
$color-hover: rgba(220, 231, 241, 0.27);
$color-blue-hover: rgba(66, 158, 255, 0.5);
$color-hover-stroke: #b5c0cf;

$color-bg: #f6f7fb;
$color-overlay: #020b14; //75%

$color-success: #1ab889;
$color-error: #ff5e5b;

// ---- Шрифт

$font-weight-regular: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;
