a {
	text-decoration: none;
	justify-content: center;
	align-items: center;
}

.navLink {
	display: flex;
	box-sizing: border-box;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	&--active {
		border-top: 2px solid transparent;
		border-bottom: 2px solid blue;
		display: flex;
	}
}
