@use '../../styles/index.scss' as *;

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.dateSeparator {
	@include text-regular;
	color: $color-gray-light;
	font-size: 14px;
}
